<!--          FOOTER STARTS        -->
<footer >
  <div class="uk-child-width-1-5 uk-grid-small uk-text-center footer_padding on_mob" uk-grid>
    <div>
      <h5>INFORMATION</h5>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">The brand</li>
        <li class="fonted_for_mob">Local stores</li>
        <li class="fonted_for_mob">Customer service</li>
        <li class="fonted_for_mob">Privacy & cookies</li>
        <li class="fonted_for_mob">Site map</li>
      </ul>
    </div>
    <div class="hidden_on_s">
      <h5>WHY BUY FROM US</h5>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">Shipping & returns</li>
        <li class="fonted_for_mob">Secure shopping</li>
        <li class="fonted_for_mob">Testimonials</li>
        <li class="fonted_for_mob">Award winning</li>
        <li class="fonted_for_mob">Ethical trading</li>
      </ul>
    </div>

    <div class="hidden_on_s">
      <h5>YOUR ACCOUNT</h5>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">Sign in</li>
        <li class="fonted_for_mob">Register</li>
        <li class="fonted_for_mob">View cart</li>
        <li class="fonted_for_mob">View your lookbook</li>
        <li class="fonted_for_mob">Track an order</li>
        <li class="fonted_for_mob">Update information</li>
      </ul>
    </div>
    <div>
      <h5>LOOKBOOK</h5>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">Latest posts</li>
        <li class="fonted_for_mob">Men’s lookbook</li>
        <li class="fonted_for_mob">Women’s lookbook</li>
        <li class="fonted_for_mob">Lookbooks RSS feed</li>
        <li class="fonted_for_mob">View your lookbook</li>
      </ul>
    </div>
    <div class="hidden_on_s">
      <h5>CONTACT DETAILS</h5>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">Head Office: Avenue Fashion,
          180-182 Regent Street, London.</li>
        <li class="fonted_for_mob">Telephone: 0123-456-789 </li>
        <li class="fonted_for_mob">Email: support@yourwebsite.com</li>
      </ul>
    </div>
  </div>
  <div class="uk-text-center award" uk-grid>
    <div class="uk-width-1-2">
      <div class="sale_div_footer">
        <p class="sale_anounce ">Autumn sale!</p>
        <p class="sale_text uk-margin-remove">up to 80%</p>
      </div>
    </div>
    <div class="uk-width-1-2">
      <div class="sale_div_footer_green">
        <div class="socials">
          <span class="uk-margin-small-right" uk-icon="facebook"></span>
          <!--              <span class="uk-margin-small-right" uk-icon=" google-plus"></span>-->
          <span class="uk-margin-small-right" uk-icon="instagram"></span>
          <span class="uk-margin-small-right" uk-icon="linkedin"></span>
          <span class="uk-margin-small-right" uk-icon="pinterest"></span>
          <span class="uk-margin-small-right" uk-icon="mail"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="dark_footer footer_padding">
    <p class="bottom_texts">© 2016 Avenue Fashion™      </p>
    <p class="bottom_texts">Design by RobbyDesigns.com      <span>Dev by Loremipsum.com</span>    </p>

  </div>
</footer>
<!--          FOOTER ENDS        -->
