<!--          FOOTER STARTS        -->
<footer >
  <div class="uk-child-width-1-5 uk-grid-small uk-text-center footer_padding on_mob" uk-grid>
    <div>
      <h4>Default</h4>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">List item 1</li>
        <li class="fonted_for_mob">List item 2</li>
        <li class="fonted_for_mob">List item 3</li>
      </ul>
    </div>
    <div class="hidden_on_s">
      <h4>Default</h4>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">List item 1</li>
        <li class="fonted_for_mob">List item 2</li>
        <li class="fonted_for_mob">List item 3</li>
      </ul>
    </div>
    <div class="hidden_on_s">
      <h4>Default</h4>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">List item 1</li>
        <li class="fonted_for_mob">List item 2</li>
        <li class="fonted_for_mob">List item 3</li>
      </ul>
    </div>
    <div class="hidden_on_s">
      <h4>Default</h4>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">List item 1</li>
        <li class="fonted_for_mob">List item 2</li>
        <li class="fonted_for_mob">List item 3</li>
      </ul>
    </div>
    <div>
      <h4>Default</h4>
      <ul class="uk-list uk-list-large">
        <li class="fonted_for_mob">List item 1</li>
        <li class="fonted_for_mob">List item 2</li>
        <li class="fonted_for_mob">List item 3</li>
      </ul>
    </div>
  </div>
  <div class="uk-text-center award" uk-grid>
    <div class="uk-width-1-2">
      <div class="sale_div_footer">
        <p class="sale_anounce ">Autumn sale!</p>
        <p class="sale_text uk-margin-remove">up to 80%</p>
      </div>
    </div>
    <div class="uk-width-1-2">
      <div class="sale_div_footer_green">
        <p class="sale_anounce ">Autumn sale!</p>
        <p class="sale_text uk-margin-remove">up to 80%</p>
      </div>
    </div>
  </div>
  <div class="dark_footer footer_padding">
    <p class="bottom_texts">© 2016 Avenue Fashion™      </p>
    <p class="bottom_texts">Design by RobbyDesigns.com      <span>Dev by Loremipsum.com</span>    </p>

  </div>
</footer>
<!--          FOOTER ENDS        -->
