.top_header_div{
  padding-left: 20%;
  padding-right: 20%;
  height: 46px;
  background: #333333;
}

.navbar_height{
  min-height: 45px;
}

.shopping_card_button{
  width: 147px;
  height:46px;
  background: #00C8C8;
  color: #FFFFFF;
}
.contained{
  padding-left: 7%;
  padding-right: 7%;
}

.sale_div{
  background: #000000;
  width: 100%;
  color: #FFFFFF;
  margin-left: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.sale_div_footer{
  background: #000000;
  //width: 100%;
  color: #FFFFFF;
  //margin-left: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sale_anounce{
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
.sale_text{
  text-align: center;
  font-size: 36px;
}
.the_logo_font{
  font-size: 24px;
}

.shop_more{
  bottom: 120px;
  right:160px
}

.dividing_section{
  width: 86%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  //border-top: 1px solid #707070
}

.changing_bg{
  background: white;
}

.links:focus{
background: none !important;
  border: none !important;
  color: #00C8C8 !important;
}
.uk-active > a {
  background: none !important;
  color:#00C8C8 !important
}

.card {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: #fff;
  background-image: url('../../../assets/images/item1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px 2px rgba(#c5c5c5, 0.5);
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s;


  &:hover {
    transform: translateY(-10px);
    background-position: center 50%;
    background-size: cover;
    box-shadow: 0px 0px 20px 0px rgba(#777777, 0.6);
    overflow: visible;
    z-index: 1;

    .card__button {
      transform: translateY(100%);
      color: #027090;
      background: #ffffff;
      transition: all 0.3s;
      z-index: 3;
    }
  }
}

.card__button {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 20px 10px;
  font-size: 12px;
  color: transparent;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(80%);
  transition: all 0.3s;
  z-index: 2;
}

.large_card{
  height: 800px !important;
}



.dec_pad{
  padding-right: 12px;
  padding-left: 12px;
  background: #F8F8F8;
}

.men{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 2px;
}

.lookbook_h{
  font-size: 35px;
  margin-bottom: 4px;
  margin-top: 0;
}

.lookbook_text{
  font-size: 13px;
  margin-bottom: 10px;
}
footer{
  background: #F8F8F8;
  bottom:0;
  height:100%;
  width:100%;
  height:500px;
  margin-top: 100px;
}
.footer_padding{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 15%;
  padding-right: 15%;
}
.award{
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 15%;
  padding-right: 15%;
}
.sale_div_footer_green{
  background: #00C8C8;
  //width: 100%;
  color: #FFFFFF;
  //margin-left: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
@media (max-width: 1800px) {
  .card {
    height: 300px;
  }
  .large_card{
    height: 500px !important;
  }
  .men{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .lookbook_h{
    font-size: 25px;
    margin-bottom: 4px;
    margin-top: 0;
  }

  .lookbook_text{
    font-size: 10px;
    margin-bottom: 10px;
  }
}
.bottom_texts{
  margin: 0;
  font-size: 14px;
}
.dark_footer{
  height: 40px;
  background: #333333;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 15px;
}

@media (max-width: 994px) {
  .large_card {
    height: 389px !important;
  }
  .card{
    height: 200px;
  }
  .info_text{
    margin-bottom: 5px;
    font-size: 11px;
    margin-top: 5px;
  }
  .top_header_div{
    padding-left: 2%;
    padding-right: 2%;
  }
  .contained{
    padding-left: 2%;
    padding-right: 2%;
  }
  .shop_more {
    bottom: 92px;
    right: 28px;
  }
  .uk-navbar-nav > li > a {
    font-size: 11px;
  }
  .for_desk{
    display: none;
  }
  .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    min-height: 45px;
  }
  .footer_padding{
    padding-right: 2%;
    padding-left: 2%;
  }
  .award{
    padding-right: 2%;
    padding-left: 2%;
  }
  .bottom_texts{
    margin: 0;
    font-size: 10px;
  }
}
.for_mobile{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  background: #fbfbfb;
  position: absolute;
  right: 49px;
  z-index: 6;
  width: 266px;
}
/* FIRST EXAMPLE */
.hidden-up-to-m {
  display: none;
  margin-left: auto;
}
@media (min-width: 960px) { /* @breakpoint-small */
  //.hidden-up-to-m {
  //  display: block;
  //}

}

@media (max-width: 663px) {
  .shop_more{
    bottom: 50px;
    right: 28px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 38px;
  }
  .shopping_card_button {
    width: 100px;
    height: 46px;
    background: #00C8C8;
    color: #FFFFFF;
  }
  .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    padding: 0 6px;
  }
  .uk-subnav > * {
    padding-left: 5px;
  }
  .hidden_on_s{
    display: none;
  }
  .on_mob{
    justify-content: space-around;
  }
  .fonted_for_mob{
    font-size: 13px;
  }
  .sale_anounce {
    font-size: 22px;
  }
  .sale_text{
    font-size: 22px;
  }
  .dark_footer {
    padding-bottom: 6px;
  }
}
