<!--          HEADER PART        -->
<section id="header">
  <div class="top_header ">
    <nav class="top_header_div uk-navbar-container top_header_div" uk-navbar>
      <div class="uk-navbar-left">

        <ul class="uk-navbar-nav navbar_height">
          <li>
            <a class="navbar_height uk-text-capitalize" >Currency : <span>&nbsp; GDB</span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
<!--                <li class="uk-active"><a href="#">Active</a></li>-->
                <li><a >AZN</a></li>
                <li><a >USD</a></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>

      <div class="uk-navbar-right">

        <ul class="uk-navbar-nav navbar_height">
          <li><a class="register_button navbar_height uk-text-capitalize " >Register</a></li>
          <li><a class="signin_button navbar_height uk-text-capitalize " >Sign in</a></li>
          <li>
            <a class="shopping_card_button navbar_height uk-text-capitalize " ><span class="uk-float-left uk-margin-auto-right" uk-icon="cart"></span> empty<span class="uk-float-right uk-margin-auto-left" uk-icon="chevron-down"></span> </a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>

    </nav>
  </div>
  <div class="banner_part ">
    <div class="uk-position-relative">
      <img src="assets/images/main_banner.svg" alt="">
      <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent contained" uk-navbar>


          <div class="uk-navbar-left">

            <ul class="uk-navbar-nav navbar_height">
              <li>
                <a class="uk-navbar-item uk-logo the_logo_font" href="#"><span class="uk-text-bold">AVENUE</span>&nbsp; FASHION</a>
              </li>
            </ul>

          </div>

          <div class="uk-navbar-right for_desk">

            <ul class="uk-navbar-nav navbar_height">
              <li class="uk-flex" *ngFor="let menu of menus">
                <a href="#" class="coloring">{{menu.name}} <span  uk-icon="chevron-down"></span></a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                  <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                    <div>
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                      </ul>
                    </div>
                    <div>
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                      </ul>
                    </div>
                    <div class="sale_div">
                      <p class="sale_anounce ">Autumn sale!</p>
                      <p class="sale_text uk-margin-remove">up to 80%</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="navbar-collapse hidden-up-to-m ">
            <div class="uk-navbar-right ">

              <ul class="uk-navbar-nav navbar_height">
                <li class="uk-flex for_mobile">
                  <a href="#" *ngFor="let menu of menus" >{{menu.name}}</a>
                  <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                      <div>
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-nav-header">Header</li>
                          <li><a href="#">Item</a></li>
                          <li><a href="#">Item</a></li>
                          <li><a href="#">Item</a></li>
                        </ul>
                      </div>
                      <div>
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-nav-header">Header</li>
                          <li><a href="#">Item</a></li>
                          <li><a href="#">Item</a></li>
                          <li><a href="#">Item</a></li>
                        </ul>
                      </div>
                      <div class="sale_div">
                        <p class="sale_anounce ">Autumn sale!</p>
                        <p class="sale_text uk-margin-remove">up to 80%</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <button type="button" data-uk-toggle="target: .navbar-collapse; cls: hidden-up-to-m" class="uk-navbar-toggle uk-hidden@m uk-float-right uk-margin-auto-left" data-uk-navbar-toggle-icon></button>
        </nav>
      </div>
    </div>
    <button class="uk-button uk-button-default uk-button-large uk-button-small@s uk-float-right uk-position-relative uk-text-uppercase shop_more">MEN's collection</button>
  </div>
</section>
<!--          HEADER PART ENDS        -->

<!--          PRODUCTS PART        -->
<section id="products" class="uk-margin-medium-top uk-margin-medium-bottom">
  <hr class="dividing_section">
  <div class="uk-navbar-container contained changing_bg" >
    <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
      <li><a class="links" href="#">Popular</a></li>
      <li><a class="links" href="#">new arrival</a></li>
      <li><a class="links" href="#">bestsellers</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
      <li>
        <div class="uk-text-center" uk-grid>
          <div class="uk-width-1-2@l uk-width-1-1@m">
            <div class="uk-text-center" uk-grid>
              <div class=" uk-width-1-2 ">
                  <div class="card">

                    <a href="#" class="card__button">Learn more
                      <div class="uk-flex actions">
                        <span class="uk-float-left uk-flex-center action_item" uk-icon="cart"></span>
                        <span class="uk-float-left uk-flex-center action_item" uk-icon="heart"></span>
                        <span class="uk-float-left uk-flex-center action_item" uk-icon="shrink"></span>
                      </div>
                    </a>

                  </div>
              </div>
              <div class="uk-width-1-2 ">
                  <div class="card" routerLink="/product-view">
                    <p class="product_price uk-float-left">£89.99</p>
                    <div class="card__button">
                      <p  class="info_text uk-text-bold">WOMENS BURNT ORANGE CASUAL TEE  £29.95</p>
                      <p  class="info_text uk-text-capitalize">Classic casual t-shirt for women on the move.</p>
                      <p  class="info_text uk-text-capitalize">100% cotton.</p>
                    </div>
                  </div>
              </div>
              <div class="uk-width-1-1">
              <div class="card large_card" routerLink="/product-view">
                <div class="card__button">
                  <p  class="info_text uk-text-bold">WOMENS BURNT ORANGE CASUAL TEE  £29.95</p>
                  <p  class="info_text uk-text-capitalize">Classic casual t-shirt for women on the move.</p>
                  <p  class="info_text uk-text-capitalize">100% cotton.</p>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="uk-width-1-2@l uk-width-1-1@m">
            <div class="uk-text-center" uk-grid>
              <div class="uk-width-1-1">
                <div class="card large_card" routerLink="/product-view">
                <div class="card__button">
                  <p class="info_text uk-text-bold">WOMENS BURNT ORANGE CASUAL TEE  £29.95</p>
                  <p class="info_text uk-text-capitalize">Classic casual t-shirt for women on the move.</p>
                  <p class="info_text uk-text-capitalize">100% cotton.</p>
                </div>
              </div>
              </div>
              <div class="uk-width-1-2">
                <div class="card">
                  <a class="card__button" routerLink="/product-view">Learn more</a>
                </div>
              </div>
              <div class="uk-width-1-2">
                <div class="card" routerLink="/product-view">
                  <p class="product_price uk-float-left">£89.99</p>
                  <div class="card__button">
                    <p  class="info_text uk-text-bold">WOMENS BURNT ORANGE CASUAL TEE  £29.95</p>
                    <p  class="info_text uk-text-capitalize">Classic casual t-shirt for women on the move.</p>
                    <p  class="info_text uk-text-capitalize">100% cotton.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>Hello again!</li>
      <li>Bazinga!</li>
    </ul>
  </div>
  <hr class="dividing_section uk-margin-medium-top">
</section>
<!--          PRODUCTS ENDS        -->


<!--          LOOKBOOK STARTS        -->
<section id="lookbook">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-3@m uk-width-1-1@s" *ngFor="let lookbok of lookBooks">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container">
            <img src="assets/images/item1.svg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
          </div>
          <div class="dec_pad">
            <div class="uk-card-body uk-flex uk-flex-column uk-align-right uk-text-right">
              <h3 class="uk-card-title uk-float-right men">{{lookbok.name}}</h3>
              <p class="uk-float-right lookbook_h">LOOKBOOK</p>
              <p class="uk-float-right uk-text-right lookbook_text">{{lookbok.description}} </p>
              <button class="uk-button uk-button-default uk-button-small uk-float-right uk-position-relative uk-text-uppercase ">{{lookbok.actionName}}</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!--          LOOKBOOK ENDS        -->


<!--&lt;!&ndash;          FOOTER STARTS        &ndash;&gt;-->
<!--<footer >-->
<!--  <div class="uk-child-width-1-5 uk-grid-small uk-text-center footer_padding on_mob" uk-grid>-->
<!--    <div>-->
<!--      <h4>Default</h4>-->
<!--      <ul class="uk-list uk-list-large">-->
<!--        <li class="fonted_for_mob">List item 1</li>-->
<!--        <li class="fonted_for_mob">List item 2</li>-->
<!--        <li class="fonted_for_mob">List item 3</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="hidden_on_s">-->
<!--      <h4>Default</h4>-->
<!--      <ul class="uk-list uk-list-large">-->
<!--        <li class="fonted_for_mob">List item 1</li>-->
<!--        <li class="fonted_for_mob">List item 2</li>-->
<!--        <li class="fonted_for_mob">List item 3</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="hidden_on_s">-->
<!--      <h4>Default</h4>-->
<!--      <ul class="uk-list uk-list-large">-->
<!--        <li class="fonted_for_mob">List item 1</li>-->
<!--        <li class="fonted_for_mob">List item 2</li>-->
<!--        <li class="fonted_for_mob">List item 3</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="hidden_on_s">-->
<!--      <h4>Default</h4>-->
<!--      <ul class="uk-list uk-list-large">-->
<!--        <li class="fonted_for_mob">List item 1</li>-->
<!--        <li class="fonted_for_mob">List item 2</li>-->
<!--        <li class="fonted_for_mob">List item 3</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div>-->
<!--      <h4>Default</h4>-->
<!--      <ul class="uk-list uk-list-large">-->
<!--        <li class="fonted_for_mob">List item 1</li>-->
<!--        <li class="fonted_for_mob">List item 2</li>-->
<!--        <li class="fonted_for_mob">List item 3</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="uk-text-center award" uk-grid>-->
<!--    <div class="uk-width-1-2">-->
<!--  <div class="sale_div_footer">-->
<!--    <p class="sale_anounce ">Autumn sale!</p>-->
<!--    <p class="sale_text uk-margin-remove">up to 80%</p>-->
<!--  </div>-->
<!--    </div>-->
<!--      <div class="uk-width-1-2">-->
<!--    <div class="sale_div_footer_green">-->
<!--      <p class="sale_anounce ">Autumn sale!</p>-->
<!--      <p class="sale_text uk-margin-remove">up to 80%</p>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="dark_footer footer_padding">-->
<!--    <p class="bottom_texts">© 2016 Avenue Fashion™      </p>-->
<!--    <p class="bottom_texts">Design by RobbyDesigns.com      <span>Dev by Loremipsum.com</span>    </p>-->

<!--  </div>-->
<!--</footer>-->
<!--&lt;!&ndash;          FOOTER ENDS        &ndash;&gt;-->
