<!-- Product HEAD PART START -->
<section id="product_head">
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="assets/images/product_banner.jpg" uk-img>
  <div class="product_head">
  <h1 class="uk-text-uppercase"><span class="uk-text-bold high_font">Product</span> view</h1>
  <h4>MENS - CASUALS - HOODIES & SWEATSHIRTS - <span class="product_head_name">AVE CLASSIC SWEATSHIRT</span></h4>
  </div>
</div>
</section>
<!-- Product HEAD PART END -->
<section id="product_info" class="uk-margin-medium-top">
  <div class="containing">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <div class="uk-position-relative uk-visible-toggle uk-light uk-height-1-1" tabindex="-1" uk-slideshow>
          <ul class="uk-slideshow-items uk-height-1-1">
            <li>
              <img src="assets/images/item1.svg" alt="" uk-cover>
            </li>
            <li>
              <img src="assets/images/item1.svg"  alt="" uk-cover>
            </li>
            <li>
              <img src="assets/images/item1.svg"  alt="" uk-cover>
            </li>
          </ul>

          <a class="uk-position-center-left uk-position-small uk-hidden-hover"  uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover"  uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">AVE CLASSIC SWEATSHIRT</h3>
          <div class="uk-flex top_nav">
            <div class="stars uk-margin-small-right">
            <span class="star_width" uk-icon="star"></span>
            <span class="star_width" uk-icon="star"></span>
            <span class="star_width" uk-icon="star"></span>
            <span class="star_width" uk-icon="star"></span>
            <span class="star_width" uk-icon="star"></span>
            </div>
            <span> 3 review(s)</span>
            <div class="uk-divider-vertical"></div>
            <a href="" class="add_rev">Add review</a>
            <div class="uk-divider-vertical"></div>
            <span>Share:</span>
            <div class="socials">
              <span class="uk-margin-small-right" uk-icon="facebook"></span>
<!--              <span class="uk-margin-small-right" uk-icon=" google-plus"></span>-->
              <span class="uk-margin-small-right" uk-icon="instagram"></span>
              <span class="uk-margin-small-right" uk-icon="linkedin"></span>
              <span class="uk-margin-small-right" uk-icon="pinterest"></span>
              <span class="uk-margin-small-right" uk-icon="mail"></span>
            </div>
          </div>
          <div class="uk-flex price_bar uk-margin-small-top">
            <span class="actual_price">£107</span>
            <span class="disctount_price">£70</span>
          </div>
          <div class="uk-flex  uk-margin-medium-top">
            <span class="uk-text-bolder uk-margin-small-right uk-text-uppercase">Aviability:</span>
            <span>in stock</span>
          </div>
          <div class="uk-flex uk-margin-small-top">
            <span class="uk-text-bolder uk-margin-small-right uk-text-uppercase">pRODUCT CODE:</span>
            <span>#343535</span>
          </div>
          <div class="uk-flex uk-margin-small-top">
            <span class="uk-text-bolder uk-margin-small-right uk-text-uppercase">tags:</span>
            <span class="tags">Classic,</span>
            <span class="tags">Casual,</span>
            <span class="tags">V-neck</span>
          </div>
          <p class="fonting">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <ul>
            <li class="fonting">Elasticated cuffs</li>
            <li class="fonting">Casual fit</li>
            <li class="fonting">100% Cotton</li>
            <li class="fonting"> Free shipping with 4 days delivery</li>
          </ul>
          <div class="variants uk-flex uk-margin-medium-top">
            <div class="uk-flex uk-flex-column uk-margin-small-right">
              <p>COLOUR</p>
              <div uk-form-custom="target: > * > span:first-child">
                <select class="">
                  <option value="">Please select...</option>
                  <option value="1">Option 01</option>
                  <option value="2">Option 02</option>
                  <option value="3">Option 03</option>
                  <option value="4">Option 04</option>
                </select>
                <button class="uk-button uk-button-default dec_pad" type="button" tabindex="-1">
                  <span></span>
                  <span uk-icon="icon: chevron-down"></span>
                </button>
              </div>
            </div>
            <div class="uk-flex uk-flex-column">
              <p>SIZE</p>
              <div uk-form-custom="target: > * > span:first-child">
                <select class="">
                  <option value="">Please select...</option>
                  <option value="1">Option 01</option>
                  <option value="2">Option 02</option>
                  <option value="3">Option 03</option>
                  <option value="4">Option 04</option>
                </select>
                <button class="uk-button uk-button-default dec_pad" type="button" tabindex="-1">
                  <span></span>
                  <span uk-icon="icon: chevron-down"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="actions uk-flex uk-margin-medium-top uk-flex-around">
            <button class="uk-button uk-button-default uk-button-large uk-flex action_buttons dec_pad"><span class="uk-float-left uk-margin-small-right" uk-icon="cart"></span>Add to card</button>
            <button class="uk-button uk-button-default uk-button-large uk-flex action_buttons dec_pad"><span class="uk-float-left uk-margin-small-right" uk-icon="heart"></span>ad to lookbook</button>
          </div>
        </div>
      </div>
    </div>
    <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
      <li><a class="darking" href="#">Item</a></li>
      <li><a class="darking" href="#">Item</a></li>
      <li><a class="darking" href="#">Item</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
      <li>Hello!</li>
      <li>Hello again!</li>
      <li>Bazinga!</li>
    </ul>
  </div>
</section>
<!-- Product HEAD PART END -->
